<p id="notice"><%= notice %></p>

<p>
  <strong>Zonea:</strong>
  <%= @zone.zonea %>
</p>

<p>
  <strong>Zoneb:</strong>
  <%= @zone.zoneb %>
</p>

<p>
  <strong>Zonec:</strong>
  <%= @zone.zonec %>
</p>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
